---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../../site.config.mjs";
---

<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteConfig.title}</title>
  </head>

  <body
    class="prose max-w-2xl px-4 md:px-2 mx-auto mt-24 antialiased dark:prose-invert"
  >
    <script is:inline>
      document.documentElement.classList.toggle(
        "dark",
        window.matchMedia("(prefers-color-scheme: dark)").matches,
      );
    </script>

    <slot name="header" />

    <slot />

    <Footer />
  </body>
</html>
