---
import { siteConfig } from "../../site.config.mjs";
import BaseHead from "../components/BaseHead.astro";
import "../styles/post-body.css";
import BaseLayout from "./BaseLayout.astro";

const { title, date } = Astro.props;
---

<BaseLayout>
  <Fragment slot="head">
    <head>
      <BaseHead title={title} />
    </head>
  </Fragment>

  <div class="text-lg my-8 font-semibold">
    <a class="no-underline" href="/">{siteConfig.title}</a>
  </div>

  {title && <h1 class="text-4xl font-extrabold mb-4">{title}</h1>}
  {
    date && (
      <div>
        <time class="text-foreground/70">{date}</time>
      </div>
    )
  }

  <slot />
</BaseLayout>
